.App-background {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 50vh;
  background-color: white;
}

.App-background:after {
  content: ' ';
  position: absolute;
  border-bottom: 100vh solid #FFF3EB;
  border-left: 100vw solid transparent;
  width: 0;
  display: flex;
}

/*************** MOBILE *************/

.wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 700px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.container>div {
  box-sizing: border-box;
}

button {
  width: 296px;
  height: 64px;
  background: #FF8B37;
  border-radius: 12px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 116%;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 102px;
}


.App-button {
  order: 0;
}

.App-header {
  width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  align-items: center;
  text-align: center;
  color: #1C1C21;
}

.App-logo img {
  width: 288px;
}

/***************************/

@media screen and (min-width:1200px) {
  .wrapper {
    display: flex;
    max-width: 500px;
  }

  .App-logo img {
    position: absolute;
    left: 223px;
    width: 451.61px;
  }

  .App-header {
    width: 624px;
    font-size: 56px;
    text-align: inherit;

  }

  .container .App-header {
    margin-left: 55%;
  }

  .App-button {
    margin-left: 33%;
    margin-top: 64px;
  }
}